.cards {
}

.cards img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

img {
  max-width: 100%;
  display: block;
}

.cards {
  margin: 0 auto;
  max-width: 800px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}